.App {
  text-align: center;
  padding: 5%;
  background-image: url("/src/data/galaxy-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 5px;
}
